* {
    font-family: 'Roboto', sans-serif;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 60%;
  justify-content: center;
}

caption {
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-bottom: 0.11rem solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
  padding-top: 2rem;
  border: 0.11rem solid black;
  width: 730px;
  border-radius: 25px;
}

th,
td {
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
  font-size: 16px;
}

tr {
    border-collapse: collapse;
}

tr:nth-child(7) {
  border-bottom: 0.11rem solid black;
}

.input {
  background-color: rgb(249, 244, 83);
  border: 1px solid black;
}

input {
  background-color: rgb(249, 244, 83);
  border: none;
  text-align: center;
  font-size: 17px;
}

tr:nth-child(even) {
  background-color: rgba(235, 235, 235, 0.596);
}

th:nth-child(n + 4) {
  border-bottom: 1px solid black;
}

td:first-child {
  text-align: right;
  font-weight: bold;
}

.levels {
  border-bottom: 0.1px solid black;
}
