* {
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(250, 235, 215, 0.644);
}

form {
  background-color: #f7f8fa;
  border: 0.11rem solid rgba(0, 0, 0, 0.27);
  border-radius: 25px;
  justify-content: center;
  min-width: 900px;
  max-width: 1000px;
}

#dashboard caption {
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-bottom: 0.11rem solid rgba(0, 0, 0, 0.668);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#dashboard {
  width: 100%;
}

#dashboard td {
  border: 1px solid black;
  border-collapse: separate;
}

#table1 {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-top: .11rem solid rgba(0, 0, 0, 0.668);
  border-bottom: .11rem solid rgba(0, 0, 0, 0.668);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
}

#table2 {
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

th {
  font-weight: normal;
}

th,
td {
  border-collapse: collapse;
  text-align: center;
  /* padding: 10px; */
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
}

tr {
    border-collapse: collapse;
}

tr:nth-child(7) {
  border-bottom: 0.11rem solid rgba(0, 0, 0, 0.668);
}

#startComp,
#endComp,
#startPop,
#endPop {
  height: 45px;
}

input {
  background-color: rgba(249, 243, 83, 0.491);
  border: .11rem solid black;
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  width: 100%;
  height: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

td:first-child {
  text-align: right;
}

#table1 td:not(:first-child) {
  width: 10%;
}

th:nth-child(n + 4) {
  border-bottom: .05rem solid black;
}

.levels {
  border-bottom: .05rem solid black;
}

button {
  background-color: rgb(226, 226, 226);
  border: .1rem solid black;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 50%;
  border-radius: 7px;
  width: 25%;
  margin-left: 80%;
}

select {
  margin-top: 5px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  /* display: inline-block; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: white;
  color: black;
  text-align: center;
  border: 1.5px solid black;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of width to center */
  margin-bottom: 8px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 12px;
  font-weight: 400;
}

#table2 td:first-child {
  width: 20px;
}

#table2 td:last-child {
  width: 20px;
}

#table2 td {
  border-collapse: collapse;
}

#rightTable td:first-child {
  width: 80%;
}

#boxes span {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

#boxes {
  position: relative;
  width: 250px;
  height: 300px;
  min-width: 175px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}


#greenBox, #redBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

#greenBox {
  /* background-color: green; */
  /* width: 500px; */
  /* height: 500px; */
  z-index: -1;
  max-width: 500px;
  max-height: 500px;
}

#redBox {
  /* background-color: white;
  width: 0px;
  height: 0px; */
  z-index: 1;
  max-width: 500px;
  max-height: 500px;
}


#key {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#key p {
  padding-left: 5px;
}

#tinyGreenBox, #tinyRedBox {
  width: 20px;
  height: 20px;
  margin: auto;
}

#tinyGreenBox {
  background-color: green;
}

#tinyRedBox {
  background-color: red;
}

#bottomLabel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#labelPopulation {
  text-align: left;
}

#percentagePopChangeIllustration {
  text-align: right;
}

#personalMultiplierPercentageChangeIllustration {
  /* vertical-align: top; */
  padding-top: 20px;
}

.calculations {
  font-weight: 550;
}