* {
    font-family: 'Roboto', sans-serif;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
}

caption {
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-bottom: 0.11rem solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
  border: 0.11rem solid black;
  border-radius: 25px;
  justify-content: center;
  min-width: 530px;
}

th,
td {
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

tr {
    border-collapse: collapse;
}

tr:nth-child(7) {
  border-bottom: 0.11rem solid black;
}

#startComp,
#endComp,
#startPop,
#endPop {
  height: 45px;
}

input {
  background-color: rgb(249, 244, 83);
  border: .11rem solid black;
  text-align: center;
  font-size: 17px;
  width: 90%;
  height: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th:nth-child(n + 4) {
  border-bottom: 1px solid black;
}

td:first-child {
  text-align: right;
  font-weight: bold;
}

.levels {
  border-bottom: 0.1px solid black;
}

button {
  background-color: rgb(226, 226, 226);
  border: .1rem solid black;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 50%;
  border-radius: 7px;
}

.clear {
  width: 60%;
}

select {
  margin-top: 5px;
}

.fa {
  padding-right: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: rgb(156, 156, 156);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of width to center */
  margin-bottom: 8px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}