* {
    font-family: 'Roboto', sans-serif;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
}

#table1 caption {
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-bottom: 0.11rem solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#table2 caption {
  caption-side: bottom;
  /* padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px; */
  padding: 10px;
  text-align: left;
  font-size: small;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
  border: 0.11rem solid black;
  border-radius: 25px;
  justify-content: center;
  min-width: 530px;
  max-width: 1000px;
}

th,
td {
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

tr {
    border-collapse: collapse;
}

tr:nth-child(7) {
  border-bottom: 0.11rem solid black;
}

#startComp,
#endComp,
#startPop,
#endPop {
  height: 45px;
}

input {
  background-color: rgb(249, 244, 83);
  border: .11rem solid black;
  text-align: center;
  font-size: 17px;
  width: 90%;
  height: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th:nth-child(n + 4) {
  border-bottom: 1px solid black;
}

td:first-child {
  text-align: right;
  font-weight: bold;
}

.levels {
  border-bottom: 0.1px solid black;
}

button {
  background-color: rgb(226, 226, 226);
  border: .1rem solid black;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 50%;
  border-radius: 7px;
}

.clear {
  width: 60%;
}

select {
  margin-top: 5px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  /* display: inline-block; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: rgb(156, 156, 156);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of width to center */
  margin-bottom: 8px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 18px;
}

/* i {
  border: 1.5px solid black;
  border-radius: 50%;
  width: 14px;
  height: 13px;
  text-align: center;
  position: relative;
  padding-top: 2px;
} */

/* #leftTable {
  width: 55%;
} */

#leftTable td:first-child {
  width: 20px;
}

#leftTable td:last-child {
  width: 20px;
}

#rightTable td:first-child {
  width: 80%;
}

#leftTable td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

#boxes {
  position: relative;
  width: 500px;
  height: 500px;
}

#greenBox, #redBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

#greenBox {
  background-color: green;
  width: 500px;
  height: 500px;
  z-index: -1;
}

#redBox {
  background-color: red;
  width: 250px;
  height: 250px;
  z-index: 1;
}

#boxes span {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

#key {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#key p {
  padding-left: 5px;
}

#tinyGreenBox, #tinyRedBox {
  width: 20px;
  height: 20px;
  margin: auto;
}

#tinyGreenBox {
  background-color: green;
}

#tinyRedBox {
  background-color: red;
}

#bottomLabel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#labelPopulation {
  text-align: left;
}

#percentagePopChangeIllustration {
  text-align: right;
}
