* {
  font-family: 'Roboto', sans-serif;
}

body {
  /* background-color: rgba(177, 200, 211, 0.492); */
  background-color: white;
}

#title {
  background-color: #0e1e58;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Calculator Toggle */
.hidden {
  display: none !important;
}

#toggleContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.toggle {
  display: inline-block;
  height: 30px;
  margin-top:3px;
  padding: 4px;
  background: #ffffff;
  border-radius: 2px;
  width: 200px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.toggleInput {
  display: none;
}

.toggleLabel {
  float: left;
  width: 50%;
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.toggleSwitch {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #0e1e58;
  border-radius: 30px;
  left: 5px;
  top: 4px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.toggleInput:checked + .toggleLabel {
  color: #ffffff;
}

.toggleInputAdvanced:checked ~ .toggleSwitch {
  left: 100px;
}

#basicCalc button {
  background-color: #929292;
  color: #f7f8fa;
  border: none;
  text-align: center;
  font-size: 15px;
  height: 50%;
  border-radius: 7px;
  width: 40%;
  margin-left: 60%;
  padding: 5px;
}

#basicCalc {
  font-family: Proxima Nova;
  padding-bottom: 25px;
  display: grid;
  justify-content: center;
  width: 100%;
}

#basicCalc td:first-child {
  text-align: right;
  width: 50%;
}

#basicCalc th,
#basicCalc td {
  border-collapse: collapse;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  width: 90px;
}

#basicCalc input {
  background-color: rgba(249, 243, 83, 0.491);
  border: .11rem solid black;
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  width: 90%;
  height: 25px;
}

#basicCalcChanges {
  margin-top: 10px;
  justify-self: center;
  border: .10rem solid rgba(0, 0, 0, 0.27);
  border-radius: 2.5px;
  width: 100%;
  background-color: #ffffff;
  font-size: 16px;
}

#basicCalcChanges td:first-child {
  width: 75%;
}

#basicCalcChanges td:last-child {
  text-align: right;
}

#basicCalcChanges td:last-child,
#startTimePriceBasic,
#endTimePriceBasic {
  font-weight: 900;
  color: #0e1e58;
}

form {
  background-color: #f7f8fa;
  border: 0.11rem solid rgba(0, 0, 0, 0.27);
  position: absolute;
  z-index: -2;
  border-radius: 25px;
  min-width: 900px;
  max-width: 1000px;
}


#dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f7f8fa;
  border: none;
  border-collapse: collapse;
  padding-bottom: 10px;
  padding-top: 10px;
}

#dashboard td {
  border: 1px solid rgba(0, 0, 0, 0.668);
  width: 220px;
}

#dashboard h2 {
  color: #0e1e58;
  font-size: 35px;
  margin: 5px;
}

#dashboard p {
  color: #676767;
  font-size: 14.5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#table1 {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-bottom: .11rem solid rgba(0, 0, 0, 0.668);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
}

#table2 {
  margin: auto;
  border-collapse: collapse;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

th {
  font-weight: normal;
}

#advancedCalc th,
#advancedCalc td {
  border-collapse: collapse;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 16px;
}

tr {
    border-collapse: collapse;
}

tr:nth-child(7) {
  border-bottom: 0.11rem solid rgba(0, 0, 0, 0.668);
}

#startComp,
#endComp,
#startPop,
#endPop {
  height: 45px;
}

#advancedCalc input {
  background-color: rgba(249, 243, 83, 0.491);
  border: .11rem solid black;
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  width: 100%;
  height: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#table1 td:first-child {
  text-align: right;
}

#table1 td:not(:first-child) {
  width: 10%;
}

th:nth-child(n + 4) {
  border-bottom: .05rem solid black;
}

.levels {
  border-bottom: .05rem solid black;
}

#advancedCalc button {
  background-color: #929292;
  color: #f7f8fa;
  border: none;
  text-align: center;
  font-size: 15px;
  height: 50%;
  border-radius: 7px;
  width: 20%;
  margin-left: 80%;
  padding: 5px;
}

select {
  margin-top: 5px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  /* display: inline-block; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: white;
  color: black;
  text-align: center;
  border: 1.5px solid black;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of width to center */
  margin-bottom: 8px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 12px;
  font-weight: 400;
}

#table2 td:first-child {
  width: 20px;
}

#table2 td:last-child {
  width: 20px;
}

#table2 td {
  border-collapse: collapse;
}

#rightTable td:first-child {
  width: 80%;
}

#boxes span {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #f7f8fa;
}

#boxes {
  position: relative;
  width: 250px;
  height: 300px;
  min-width: 175px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}

#greenBox, #redBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

#greenBox {
  /* background-color: green; */
  /* width: 500px; */
  /* height: 500px; */
  z-index: -1;
  max-width: 500px;
  max-height: 500px;
}

#redBox {
  /* background-color: white;
  width: 0px;
  height: 0px; */
  z-index: 1;
  max-width: 500px;
  max-height: 500px;
}

/* #startYearBoxNumber,
#endYearBoxNumber {
  color: #f7f8fa;
} */

#key {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#key p {
  padding-left: 5px;
}

#tinyGreenBox,
#tinyRedBox {
  width: 20px;
  height: 20px;
  margin: auto;
}

#tinyGreenBox {
  background-color: green;
}

#tinyRedBox {
  background-color: red;
}

#endYearKey, #startYearKey {
  text-align: left;
}

#bottomLabel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#labelPopulation {
  text-align: left;
}

#percentagePopChangeIllustration {
  text-align: right;
}

#personalMultiplierPercentageChangeIllustration {
  /* vertical-align: top; */
  padding-top: 20px;
}

.calculations {
  font-weight: 550;
}